{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'products.css' %}">
</head>
<body>
    <div class="main">


    <header>
        <nav class="navbar">
            <span id="close-menu-btn" class="material-symbol-outlined">close</span>
            <a href="#" class="logo"></a>
            <ul class="menu-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <span id="menu-btn" class="material-symbol-outlined">menu</span>
        </nav>
    </header>

    <br>

    <section class="products">
        <div class="products-container">
           <div class="product">
            <img src="{% static 'coffee1.jpeg'%}" alt="coffee" srcset="">
            <div>
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore fuga minima nulla reprehenderit accusamus ipsum perferendis accusantium, odit dolore dolor, dolorem obcaecati atque ea reiciendis quas earum tempora magni.</p>
                <p>Rating: 4.5</p>
            </div>
           </div>
           <div class="product">
            <img src="{% static 'coffee1.jpeg'%}" alt="coffee" srcset="">
            <div>
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore fuga minima nulla reprehenderit accusamus ipsum perferendis accusantium, odit dolore dolor, dolorem obcaecati atque ea reiciendis quas earum tempora magni.</p>
                <p>Rating: 4.5</p>
            </div>
           </div>
           <div class="product">
            <img src="{% static 'coffee1.jpeg'%}" alt="coffee" srcset="">
            <div>
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore fuga minima nulla reprehenderit accusamus ipsum perferendis accusantium, odit dolore dolor, dolorem obcaecati atque ea reiciendis quas earum tempora magni.</p>
                <p>Rating: 4.5</p>
            </div>
           </div>
           <div class="product">
            <img src="{% static 'coffee1.jpeg'%}" alt="coffee" srcset="">
            <div>
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore fuga minima nulla reprehenderit accusamus ipsum perferendis accusantium, odit dolore dolor, dolorem obcaecati atque ea reiciendis quas earum tempora magni.</p>
                <p>Rating: 4.5</p>
            </div>
           </div>
           <div class="product">
            <img src="{% static 'coffee1.jpeg'%}" alt="coffee" srcset="">
            <div>
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore fuga minima nulla reprehenderit accusamus ipsum perferendis accusantium, odit dolore dolor, dolorem obcaecati atque ea reiciendis quas earum tempora magni.</p>
                <p>Rating: 4.5</p>
            </div>
           </div>

        </div>
    </section>
    
</div>
</body>
</html>